@page
@model TechTrendsShowcase.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h1 class="my-4">About InnoVibe TrioTech</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1522149537340-1ec572853077?q=80&w=2631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="InnoVibe TrioTech Team" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2>The Visionaries Behind Innovation</h2>
            <p>
                InnoVibe TrioTech was founded by <strong>Barkirat</strong>, <strong>Aavir</strong>, and <strong>Paras</strong> — three tech enthusiasts whose
                passion for innovation led them to create a platform where technology meets creativity.
                Together, we aim to bring forward the trends that shape the future, making high-tech
                gadgets accessible and understandable for everyone.
            </p>
            <p>
                Our journey is one of discovery, learning, and sharing the marvels of modern technology
                with the world. Join us as we explore the wonders of innovation, one gadget at a time.
            </p>
        </div>
    </div>
</div>
