@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
        <div class="jumbotron mt-4 bg-light border">
            <h1 class="display-4 text-center">Welcome to InnoVibe TrioTech</h1>
            <p class="lead text-center">Exploring Innovation with Barkirat, Aavir, and Paras.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>What We Do</h2>
                <p>
                    InnoVibe TrioTech is at the forefront of the digital revolution, bringing the latest and most innovative
                    tech gadgets to your fingertips. Explore our curated selection of groundbreaking devices that
                    define tomorrow's tech landscape.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Why Choose Us</h2>
                <p>
                    With an eye for the exceptional and a passion for technological evolution, we, Barkirat, Aavir,
                    and Paras, guide you through the maze of new technology. Discover, learn, and experience
                    the future of technology with insights from true aficionados.
                </p>
            </div>
        </div>
    </div>

